@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    font-family: "Poppins", sans-serif
}

form {
    width: 550px;
    margin: 50px auto;
    padding: 10px;
}

form div {
    margin-top: 10px;
}

label {
    font-weight: bold;
    font-size: 20px;
}

input,
select,
textarea {
    background-color: #fff;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid #dbdbdb;
}

.button-container {
    text-align: right;
    display: flex;
    justify-content: end;
}

button {
    background-color: #1E3050;
    color: white;
    padding: 6px 25px;
    border-radius: 15px;
    margin-top: 20px;
    font-size: 17px;
    cursor:pointer;
    border: 0px;
    text-align: right;
    display: flex;
    justify-content: end;
}

button:hover {
    background-color: black
}

@media only screen and (max-width: 900px) {
    .contact-me {
        align-items: center;
    }
    .contact-me .container-contact form {
        width: 400px;
        margin-left: 200px;
    }
}

@media only screen and (max-width: 500px) {
    .nav-right i {
        margin-right: -45px;
        margin-bottom: 22px;
    }
    .nav-right button i {
        font-size: 27px;
    }

    .contact-me .container-contact form {
        width: 85%;
        margin: auto;
        margin-bottom: 5px;
    }

    .button-container {
        margin-top: -10px;
    }
}