@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    font-family: "Poppins", sans-serif
}

form {
    width: 550px;
    margin: 50px auto;
    padding: 10px;
}

form div {
    margin-top: 10px;
}

label {
    font-weight: bold;
    font-size: 20px;
}

input,
select,
textarea {
    background-color: #dfdede;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid #dbdbdb;
}

button {
    background-color: orangered;
    color: white;
    padding: 6px 25px;
    border-radius: 15px;
    margin-top: 20px;
    font-size: 15px;
    cursor:pointer;
}

button:hover {
    background-color: black
}

@media only screen and (max-width: 1100px) {
    .contact-me {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 0%;
    }
    .nav-right button i {
        margin-right: -20px;
        margin-bottom: 20px;
        font-size: 28px;
    }

    .contact-me .container-contact {
        flex: 100%;
        margin-top: -50px;
        margin-right: 20px;
        flex-direction: column;
        align-items: center;
    }

    .contact-me .container-contact form {
        width: 100%;
        height: auto;
        margin-left: 200px;
    }

  
}
