.project-form {
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

.project-form .form-container {
    width: 500px;
}

.project-form .form-container h1 {
    text-align: center;
    margin-bottom: 40px;
}

.project-form form label {
    font-size: 20px;
    font-weight: 400;
}

.container-date {
    display: flex;
}

.start-date {
    flex: 1;
}

.end-date {
    flex: 1;
    margin-left: 10px;
}

.project-form form input, textarea {
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    background: #f4f3f3;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    resize: none;
}

.project-form form textarea {
    height: 150px;
}
/* kalau memanggil kelas disertai titik sebelum nama class */

.container-input-checkbox .input-checkbox {
    margin-left: 10px;
}

.checkbox-one {
    display: flex;
    margin-top: 10px;
    margin-left: -10px
}

.checkbox-one label {
    padding: 8px;
    line-height: 22px;
    
}

.checkbox-two {
    display: flex;
    margin-top: 10px;
    margin-left: -10px
}

.checkbox-two label {
    padding: 8px;
    line-height: 22px;
    
}

.input-python {
    margin-left: 80px;
}

.input-php {
    margin-left: 25px;
}

.input-python label {
    font-size: 100px;
}


.project-form form .input-project-image-group {
    width: 97%;
    font-size: 20px;
    font-weight: 400;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    background: #f4f3f3;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    cursor: pointer;
}

.project-form form .input-project-image-group label p {
    font-size: 15px;
}

.project-form form .input-project-image-group label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-form form .button-group {
    text-align: right;
    display: flex;
    justify-content: end;
}

.project-form form button {
    margin-top: 15px;
    padding: 6px 25px;
    font-size: 17px;
    background-color: #1E3050;
    border-radius: 15px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.button-group button:hover {
    background-color: black;
 }


/* blog lis */

#contents {
    display: grid;
    grid-template-columns: auto auto auto;
    
}

.section-project {
    background-color: #fff;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3,0fr);
    margin: 50px 0px 20px 170px;
    align-items: center;
    grid-gap: 20px;
}

.grid article {
    width: 300px;
    box-shadow: 2px 2px 2px 2px #ddd;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
}


.section-project .project-list-item .grid article .project-image {
    width: 100%;
    object-fit: cover;
}

/* flex diatas berarti flex 1 berbanding 2 1 pada blog image dan 2 pada blog content */

.project-list-item .btn-group {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}

 .project-list-item .btn-group .btn-delete {
    flex: 50%;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background: #1E3050;
    color: white;
    margin-left: 8px;
    cursor: pointer;
 }

 .project-list-item .btn-group .btn-edit {
    flex: 50%;
    padding: 5px 10px;
    border: none;
    background: #1E3050;
    color: white;
    border-radius: 4px;
    cursor: pointer;
 }

.project-list-item h1 a {
    text-decoration: none;
    color: #000;
}

.project-list-item .project-content h1 {
    
    font-size: 25px;
}

.project-list-item p {
    margin-top: 20px;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
}

.tech-icon {
    margin-bottom: 10px;
    font-size: 30px;
}

@media only screen and (max-width: 1200px) {
    .project {
        flex-direction: column;
        align-items: center;
    }

    .project-form .form-container {
        padding: 20px;
        margin-top: -50px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2,0fr);
        margin: 20px 0px 20px 100px;
        align-items: center;
        grid-gap: 20px;
    }

    .grid article {
        width: 270px;
    }

    .project-content h1 a {
        font-size: 20px;
    }

    .detail-project-content {
        margin-top: -10px;
    }

    .detail-project-content p {
        font-size: 12px;
        margin-top: 8px;
    }
    .tech-icon {
        font-size: 20px;
    }

    .project-list-item .btn-group .btn-delete {
        font-size: 10px;
        padding: 5px 10px;
       
     }
    
     .project-list-item .btn-group .btn-edit {
        font-size: 10px;
        padding: 5px 10px;
     }
    
}

@media only screen and (max-width: 550px) {
    .section-project .project-list-item {
        margin: 20px 0px 20px 50px;
    }
    
    .grid {
        display: grid;
        grid-template-columns: repeat(1,2fr);
        align-items: center;
        margin: auto;
        grid-gap: 20px;
    }

    .grid article {
        width: 80%;
    }
}
