@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: black
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(51, 93, 121, 0.493) !important;

}

nav .container-fluid a {
    font-size: 20px;
    font-weight: 600;
    color: black;
}

.bg-blue {
    background-color: #1E3050 !important;
}

.bg-blue:hover {
    background-color: red;
}

.text-blue {
    color: #1E3050 !important;
}

.container-project {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.section-project .card-body .btn-group button {
    color: white;
}

.section-project {
    display: grid;
    grid-template-columns: repeat(3,0fr);
    justify-content: center;
    grid-gap: 3em;
}
.section-project .card {
    margin: 15px auto;
}

/* .container-fluid .card{
    width: 1100px;
    margin: 50px auto;
    padding: 0px;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 15px #cecece;
    justify-content: center;
    align-items: center;
} */

/* .container-fluid .card-right .card {
    width: 300px;
} */

@media only screen and (max-width: 1200px) {

    .section-project {
        display: grid;
        grid-template-columns: repeat(2,0fr);
        align-items: center;
        grid-gap: 1em;
    }
    
}

@media only screen and (max-width: 550px) {
    .section-project {
        display: grid;
        grid-template-columns: repeat(1,0fr);
        align-items: center;
        grid-gap: 1em;
    }
}