.container-testi {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 30px 20px 30px;
}

.testi {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
}

.testi-card {
    width: 25%;
    margin: 0 15px 20px 20px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0)
}

.testi-card img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.quote-testi {
    font-size: 16px;
    font-style: italic;
    line-height: 1.5;
    margin-bottom: 12px;
}

.author-testi {
    font-weight: bold;
    text-align: right;
    margin-bottom: 5px;
}

.author-testi i {
    color: goldenrod;
}

.container-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating-btn {
    margin: 10px 0;
    padding: 0 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

.rating-btn i {
    color: white;
}

button:hover {
    background-color: goldenrod;
}

@media only screen and (max-width: 900px) {
    .testi-card {
        width: 45%
    }
}

@media only screen and (max-width: 500px) {
    .testi-card {
        width: 60%;
        margin-top: -10px;
    }
    .rating-btn {
        font-size: 15px;
        padding: 0 12px;
    }
}
